<div class="container py-5">
    <div class="container py-5 text-center text-md-start">


        <div class="col-md-6">
            <h2 class="fw-bold">Morning Happy Hours</h2>
            <p>
                Enjoy the best coffee in the morning with our special offers.
                Freshly brewed and made just for you.
            </p>

            <ul class="list-unstyled">
                <li>☕ Fresh coffee daily</li>
                <li>🥐 Breakfast combos</li>
                <li>🔥 Special discounts</li>
            </ul>
        </div>

        
        <div class="col-md-6 text-center">
            <img src="https://images.unsplash.com/photo-1509042239860-f550ce710b93"
                 class="img-fluid rounded"
                 alt="coffee">
        </div>

    </div>
</div>