<div class="container py-5">
  
  <h2>Contact</h2>


  <p class="text-muted">
    Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
    Praesent commodo cursus magna, vel scelerisque nisl consectetur.
  </p>


  <div class="row">
    <div class="col-md-6 mx-auto">
      <form>
        
        
        <div class="mb-3">
          <label class="form-label">Your E-mail</label>
          <input type="email" class="form-control" placeholder="Your email">
        </div>

        <div class="mb-3">
          <label class="form-label">Your message</label>
          <textarea class="form-control" rows="4" placeholder="Please enter your message here..."></textarea>
        </div>

        <div class="text-end">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>

      </form>
    </div>
  </div>
</div>