<footer class="bg-dark text-white pt-5 pb-3">
    <div class="container">
        <div class="row text-center text-md-start">

            
            <div class="col-md-3 mb-3">
                <h5>Products</h5>
                <p>Mocha Coffee</p>
                <p>Espresso</p>
                <p>Latte Coffee</p>
                <p>Milk Shakes</p>
            </div>

            
            <div class="col-md-3 mb-3">
                <h5>Category</h5>
                <p>Menu</p>
                <p>Offers</p>
                <p>Specials</p>
            </div>

        
            <div class="col-md-3 mb-3">
                <h5>Company Info</h5>
                <p>About Us</p>
                <p>Contact Us</p>
                <p>Support</p>
            </div>

            
            <div class="col-md-3 mb-3">
                <h5>Follow Us</h5>
                <p>Instagram</p>
                <p>Facebook</p>
                <p>Twitter</p>
            </div>

        </div>

        <hr class="bg-light">

        <p class="text-center mb-0">© 2026 Coffee Shop</p>
    </div>
</footer>