<footer class="py-5" style="background-color: #4b1e1e; color: white;">
  <div class="container">

    <hr class="border-light">

    <div class="row text-center text-md-start">

      <div class="col-md-3 mb-4">
        <h5>Products</h5>
        <ul class="list-unstyled">
          <li>Mocha Coffee</li>
          <li>Espresso Coffee</li>
          <li>Latte Coffee</li>
          <li>Milk Shakes</li>
        </ul>
      </div>

      <div class="col-md-3 mb-4">
        <h5>Category</h5>
        <ul class="list-unstyled">
          <li>Hot</li>
          <li>Cold</li>
          <li>Special</li>
        </ul>
      </div>

      <div class="col-md-3 mb-4">
        <h5>Company Info</h5>
        <ul class="list-unstyled">
          <li>About Us</li>
          <li>Contact Us</li>
          <li>Support</li>
        </ul>
      </div>

      <div class="col-md-3 mb-4">
        <h5>Follow Us</h5>
        <p>Instagram</p>
        <p>Facebook</p>
        <p>Twitter</p>
      </div>

    </div>

  </div>
</footer>