<footer class="py-4">

  <div class="mx-auto"
       style="
       max-width: 1000px;
       background-color: #4b1e1e;
       color: white;
       padding: 30px;
       border-radius: 20px;
       overflow: hidden;
       ">

    <!-- LINEA -->
    <hr style="border-color: rgba(255,255,255,0.4); margin-bottom: 20px;">

    <div class="row text-center text-md-start">

      <div class="col-md-3">
        <h6 class="mb-2">Products</h6>
        <p class="small mb-1">Mocha Coffee</p>
        <p class="small mb-1">Espresso Coffee</p>
        <p class="small mb-1">Latte Coffee</p>
        <p class="small mb-1">Milk Shakes</p>
      </div>

      <div class="col-md-3">
        <h6 class="mb-2">Category</h6>
        <p class="small mb-1">Hot</p>
        <p class="small mb-1">Cold</p>
        <p class="small mb-1">Special</p>
      </div>

      <div class="col-md-3">
        <h6 class="mb-2">Company Info</h6>
        <p class="small mb-1">About Us</p>
        <p class="small mb-1">Contact Us</p>
        <p class="small mb-1">Support</p>
      </div>

      <div class="col-md-3">
        <h6 class="mb-2">Follow Us</h6>
        <p class="small mb-1">Instagram</p>
        <p class="small mb-1">Facebook</p>
        <p class="small mb-1">Twitter</p>
      </div>

    </div>

  </div>

</footer>