    <div class="container-fluid my-5">
        <div class="row justify-content-center g-4">
            
        <div class="card h-100 border-0 rounded-4 overflow-hidden shadow-sm" style="width: 15rem;">
            <img src="https://m.media-amazon.com/images/I/71OOGg8SN6L.jpg" class="card-img-top" style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h2 class="card-title fw-bold">Expresso</h2>
                <p class="card-text text-muted small">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="#" class="btn d-grid mx-auto btn-dark rounded-pill">View More</a>
            </div>
        </div>

         <div class="card border-0 rounded-4 shadow-sm" style="width: 15rem;">
            <img src="https://source.boomplaymusic.com/group10/M00/02/15/e33ddb3d134840be96db5dfb0ec74279H3000W3000_464_464.jpg" class="card-img-top" style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h2 class="card-title fw-bold">Latte</h2>
                <p class="card-text text-muted small">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="#" class="btn d-grid mx-auto btn-dark rounded-pill">View More</a>
            </div>
        </div>

        <div class="card border-0 rounded-4 shadow-sm" style="width: 15rem;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzcFnyRp_ynU_wdVsj93uGaahfdDhRfP_P7dg_D80nun4KooiK" class="card-img-top" style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h2 class="card-title fw-bold">Cold Brew</h2>
                <p class="card-text text-muted small">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="#" class="btn d-grid mx-auto btn-dark rounded-pill">View More</a>
            </div>
        </div>

        <div class="card border-0 rounded-4 shadow-sm" style="width: 15rem;">
            <img src="https://hips.hearstapps.com/hmg-prod/images/cafe-1599479980.jpg" class="card-img-top" style="height: 200px; object-fit: cover;">
            <div class="card-body">
                <h2 class="card-title fw-bold">Coffe</h2>
                <p class="card-text text-muted small">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <a href="#" class="btn d-grid mx-auto btn-dark rounded-pill">View More</a>
            </div>
        </div>
        </div>
    </div>
   
